In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('iris.csv')

In [3]:
data.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [4]:
y=data[['Species']]

In [5]:
x=data[['Sepal.Length']]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4)

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [9]:
dct=DecisionTreeClassifier()

In [10]:
dct.fit(x_train,y_train)

DecisionTreeClassifier()

In [11]:
y_pred=dct.predict(x_test)

In [12]:
y_test.head()

        Species
128   virginica
115   virginica
84   versicolor
70   versicolor
51   versicolor

In [13]:
y_pred[0:5]

array(['virginica', 'virginica', 'setosa', 'virginica', 'virginica'],
      dtype=object)

In [14]:
from sklearn.metrics import confusion_matrix

In [15]:
confusion_matrix(y_test,y_pred)

array([[18,  4,  0],
       [ 4,  6, 10],
       [ 0, 11,  7]], dtype=int64)

In [16]:
(19+8+11)/(19+2+0+4+8+7+1+8+11)

0.6333333333333333

In [17]:
x=data[['Sepal.Width']]

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4)

In [19]:
dct.fit(x,y)

DecisionTreeClassifier()

In [20]:
y_pred=dct.predict(x_test)

In [21]:
y_test.head()

       Species
119  virginica
125  virginica
101  virginica
27      setosa
16      setosa

In [22]:
y_pred[0:5]

array(['versicolor', 'setosa', 'versicolor', 'setosa', 'setosa'],
      dtype=object)

In [23]:
confusion_matrix(y_test,y_pred)

array([[21,  1,  2],
       [ 3, 12,  5],
       [ 5,  6,  5]], dtype=int64)

In [24]:
(15+16+7)/(15+1+4+2+16+6+6+3+7)

0.6333333333333333