In [1]:
import pandas as pd

In [4]:
data=pd.read_csv('Boston.csv')

In [6]:
data.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [7]:
y=data[['medv']]

In [9]:
x=data[['crim']]

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [13]:
lr=LinearRegression()

In [14]:
lr.fit(x_train,y_train)

LinearRegression()

In [15]:
y_pred=lr.predict(x_test)

In [16]:
y_test.head()

     medv
316  17.8
495  23.1
26   16.6
445  11.8
273  35.2

In [18]:
y_pred[0:5]

array([[23.7555209 ],
       [23.81702069],
       [23.59936935],
       [19.18386693],
       [23.7980824 ]])

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_squared_error(y_test,y_pred)

83.48601282024741

## independent variable age

In [22]:
x=data[['age']]

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [26]:
lr=LinearRegression()

In [27]:
lr.fit(x_train,y_train)

LinearRegression()

In [28]:
y_pred=lr.predict(x_test)

In [29]:
x_test.head()

      age
196  34.1
173  84.1
241  65.1
330  32.2
429  95.6

In [30]:
y_pred[0:5]

array([[26.78015417],
       [20.99042314],
       [23.19052093],
       [27.00016395],
       [19.658785  ]])

In [31]:
mean_squared_error(y_test,y_pred)

58.53793549759791

# #independent variable tax

In [32]:
x=data[['tax']]

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [35]:
lr.fit(x_train,y_train)

LinearRegression()

In [36]:
y_pred=lr.predict(x_test)

In [39]:
y_test.head()

     medv
420  16.7
406  11.9
425   8.3
351  24.1
133  18.4

In [38]:
y_pred[0:5]

array([[15.90491276],
       [15.90491276],
       [15.90491276],
       [22.58725544],
       [21.90591854]])

In [40]:
mean_squared_error(y_test,y_pred)

63.444644521459395