In [1]:
import pandas as pd

In [6]:
data=pd.read_csv('Customer-Churn.csv')

In [7]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [8]:
y=data[['Churn']]

In [9]:
x=data[['tenure']]

In [10]:
from sklearn.linear_model import LogisticRegression

In [15]:
log_modal=LogisticRegression()

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35)

In [16]:
log_modal.fit(x_train,y_train)

C:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [17]:
y_pred=log_modal.predict(x_test)

In [20]:
y_test.head()

     Churn
3082    No
564     No
1034    No
5826   Yes
623     No

In [19]:
y_pred[0:5]

array(['No', 'No', 'No', 'No', 'No'], dtype=object)

In [21]:
from sklearn.metrics import confusion_matrix

In [22]:
confusion_matrix(y_test,y_pred)

array([[1827,    3],
       [ 636,    0]], dtype=int64)

In [23]:
(1827+0)/(1827+3+636+0)

0.7408759124087592

# Change independent variable

In [24]:
x=data[['MonthlyCharges']]

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=30)

In [26]:
log_modal.fit(x_train,y_train)

C:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [27]:
y_pred=log_modal.predict(x_test)

In [28]:
y_test.head()

     Churn
3270    No
1178   Yes
5842    No
6053    No
2668   Yes

In [29]:
y_pred[0:5]

array(['No', 'No', 'No', 'No', 'No'], dtype=object)

In [30]:
confusion_matrix(y_test,y_pred)

array([[26,  0],
       [ 4,  0]], dtype=int64)

In [31]:
(26+0)/(26+0+4+0)

0.8666666666666667